@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

.color {background-color: hsl(25, 97%, 53%);}
.color {background-color: hsl(0, 0%, 100%);}
.color {background-color: hsl(217, 12%, 63%);}
.color {background-color: hsl(216, 12%, 54%);}
.color {background-color: hsl(213, 19%, 18%);}
.color {background-color: hsl(216, 12%, 8%);}

/* UNIVERSAL */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Overpass', sans-serif;
    }

/* MEDIA QUERIES */

    @media screen and (min-width: 0px) {

        /* TAGS */

            body {
                margin: auto;
                width: 375px;
                height: 667px;
                display: grid;
                justify-content: center;
                align-content: center;
                gap: 1rem;
                background-color: hsl(216, 12%, 8%);
                color: hsl(0, 0%, 100%);
            }

            form {
                background-color: hsl(213, 19%, 18%);
            }

        /* CLASS */

            .form-response {
                display: none;
            }

        /* ID */

    }

    @media screen and (min-width: 401px) {

        /* TAGS */
        /* CLASS */
        /* ID */

    }

    .attribution {
        font-size: 11px;
        text-align: center;
    }
    .attribution a {
        text-decoration: none;
        color: hsl(25, 97%, 53%);
    }